<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:networkSecurityConfig="@xml/network_security_config"
      android:requestLegacyExternalStorage="true"
      android:hardwareAccelerated="true"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      tools:targetApi="n">
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
      <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="${appDeepLinkScheme}" android:host="*" />
        </intent-filter>
        <intent-filter android:priority="80">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.OPENABLE"/>
          <data android:scheme="file"/>
          <data android:scheme="content" />
          <data android:mimeType="audio/*" />
          <data android:mimeType="vnd.android.cursor.dir/audio"/>
          <data android:mimeType="application/ogg"/>
          <data android:mimeType="application/x-ogg"/>
        </intent-filter>
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.APP_MUSIC" />
        </intent-filter>
        <intent-filter>
          <action android:name="com.cyanogenmod.eleven.AUDIO_PLAYER"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        <intent-filter android:priority="80">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.OPENABLE"/>
          <data android:scheme="file"/>
          <data android:scheme="content" />
          <data android:host="*"/>
          <data android:mimeType="application/octet-stream"/>
          <data android:mimeType="text/javascript"/>
          <data android:mimeType="application/x-javascript"/>
          <data android:mimeType="application/javascript"/>
          <data android:pathPattern=".*\.js" />
          <data android:pathPattern=".*\..*\.js" />
          <data android:pathPattern=".*\..*\..*\.js" />
          <data android:pathSuffix=".js" tools:targetApi="s" />
          <data android:mimeType="application/json"/>
          <data android:pathPattern=".*\.json" />
          <data android:pathPattern=".*\..*\.json" />
          <data android:pathPattern=".*\..*\..*\.json" />
          <data android:pathSuffix=".json" tools:targetApi="s" />
          <data android:pathPattern=".*\.lxmc" />
          <data android:pathPattern=".*\..*\.lxmc" />
          <data android:pathPattern=".*\..*\..*\.lxmc" />
          <data android:pathSuffix=".lxmc" tools:targetApi="s" />
        </intent-filter>
      </activity>

      <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${appProviderAuthority}"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data tools:replace="android:resource"
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
      </provider>

      <!--
        RNFetchBlob's provider only backs actionViewIntent(). The project does
        not call that API, while its duplicate ${applicationId}.provider
        declaration shadows the project provider's files/cache configuration.
      -->
      <provider
        android:name="com.RNFetchBlob.Utils.FileProvider"
        tools:node="remove" />

      <receiver
        android:name=".widget.MusicWidgetProvider"
        android:exported="true">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <intent-filter>
          <action android:name="${appWidgetActionPrefix}.PLAY_PAUSE" />
          <action android:name="${appWidgetActionPrefix}.PREV" />
          <action android:name="${appWidgetActionPrefix}.NEXT" />
          <action android:name="${appWidgetActionPrefix}.UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_music_info" />
      </receiver>
    </application>
</manifest>
